/* Default styles for all screen sizes */
.bodychatbot {
    background-color: #F4F4F4;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /*Center content vertically*/
    height: 100vh; /* Ensure full viewport height */
}

.chatbot-heading {
    text-align: center;
}
.chat-container {
    max-width: 600px;
    margin: 0 auto; /* Center horizontally using margin */
    padding: 20px;
    background-color: #F7F7F7;
    border-radius: 10px;
    overflow-y: auto; /* Add a vertical scrollbar when content overflows */
    max-height: 580px; /* Limit the maximum height to create a scrollbar */
    min-height: 70vh;
    min-width: 60vw;
    border-color: #383737;
    border-style: solid;
}

.submit-container {
    max-width: 60vw;
    margin: 0 auto; /* Center horizontally using margin */
    padding: 20px;
    background-color: #F7F7F7;
    border-radius: 10px;
    border-color: #383737;
    border-style: solid;
}

.user-message {
    background-color: #256D85;
    color: #F7F7F7;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: right;

}

.bot-message {
    background-color: #44CAAB;
    color: #383737;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#user-input {
    width: 56vw;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#send-button {
    background-color: #256D85;
    color: #F7F7F7;
    border: none;
    padding: 10px 23px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 45%;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
    .chat-container,
    .submit-container {
        max-width: 100%;
        width: 95%;
    }

    #user-input {
        width: 92%;
        border-radius: 5px;
        padding: 20px;
    }

    #send-button {
        margin-left: 45%;
    }
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
    .chat-container,
    .submit-container {
        padding: 5px;
    }

    #user-input {
        width: 89%;
    }

    #send-button {
        padding: 8px 18px;
        margin-left: 40%;
    }
}
