
.main-chatbot {
    /* background-color: rgb(192, 230, 242); */
    height: 350px;
    display: flex;
    justify-content: space-between;
    background-size: 1999px;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url("https://www.microsoft.com/en-us/research/uploads/prod/2020/07/newsletter-option-8-neural-network-3-1-640x360.png");
}

.bot-img {
    margin-top: 12px;
    height: 20rem;
    width: auto;
    margin-right: 5px;
    border-radius: 50%;
}

.underline-heading{
    height: 3px;
    background-color: rgb(186, 211, 236);
    width: 40%;
    margin: 20px auto;
    border-style: solid;
    border:black;
}

/* .img-chatbot-class{

} */

.chatbot-content-class {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.8rem;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;

}

/* .bot-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.button-style-bot {
    
        padding: 14px 20px;
        color: white;
        border: 1px solid transparent;
        border-radius: 28px;
        outline: transparent;
        background-color: #073764;
        font-size: 18px;
        font-family: 'Rubik', sans-serif;
        letter-spacing: .8px;
        cursor: pointer;
        transition: all .4s ease;
} */


.bot-btn2 {
    padding: 14px 20px;
    color: white;
    border: 1px solid transparent;
    border-radius: 28px;
    outline: transparent;
    background-color: #1A8EFD;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: .8px;
    cursor: pointer;
    transition: all .4s ease;
}
.bot-btn2:hover {
    color: #91ccff;
    background-color: transparent;
    border: 1px solid #1A8EFD;
}

@media screen and (max-width: 900px) {
    .main-chatbot{
        padding-top: 25px;
        display: block;
        height: 550px;
    background-size: 2999px;

    }
    .bot-img{
        display: none;
    }
    .bot-btn2:hover {
        background-color: white;
        color: #1A8EFD;
    }
  }
  