/* Style for the main container */
.vcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background-color: #4776a1;
  }
  
  /* Style for the video uploader section */
  .video-uploader {
    text-align: center;
    margin: 20px;
    padding-top: 60px;
    padding-right: 250px;
    padding-bottom: 60px;
    padding-left: 250px;
    background-color: #e8f4ff;
    
  }

  .v-image{
    height: 250px;
    width: 250px;
  }
  
  .video-uploader input[type="file"] {
    display: none;
  }
  
  .video-uploader label {
    cursor: pointer;
    padding: 20px 40px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 26px;
  }
  
  /* Style for the uploading message */
  .uploading-message {
    font-size: 30px;
    margin-top: 20px;
    color: #fff;
  }
  
  /* Style for the popup */
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  
  .popup p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .popup button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .detected{
    height: 100px;
    width: 100px;
  }


  /* Style for the button container */
.button-container {
  display: flex;
  justify-content: space-between; /* Distributes space between buttons */
  margin-top: 20px; /* Add some margin for spacing */
}

/* Style for the buttons */
.button-container button {
  padding: 10px 30px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px; /* Add right margin for spacing */
}

/* Style for the last button to remove the right margin */
.button-container button:last-child {
  margin-right: 120px;
}