<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<header>
	<div class="container">
		<div class="col-div-6">
			<p class="logo">Surakshaa</p>
		</div>
		<div class="col-div-6">
			<ul class="nav">
				<li><a href="#">Blog</a></li>
				<li><a href="#">Latest</a></li>
				<li><a href="#">Contact</a></li>
				<li><button>Subscribe</button></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</header>

<section class="banner-section">
	<div class="container">
		<div class="col-div-6">
			<h1 class="heading">Stay Informed About Traffic Rules in India</h1>
			<p class="p1">Get updated about the latest traffic rules and ensure your safety with just one click of subscribe!</p>
			<div class="input-box"><input type="text" placeholder="Enter Your Email"><button>Try it</button></div>
		</div>
		<div class="col-div-6">
			<br><br><br><br>
			<div style="text-align: center;"><img src="https://iamcheated.indianmoney.com/uploads/ArticleImages/everything-you-need-to-know-about-traffic-rules-in-india-02162019175002.png" class="ban-img" style="height: 250px; width:450px;"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>


<section>
	<div class="container">
		<br><br>
		<div class="col-div-6">
			<div class="box-1">
				<img src="https://www.livelaw.in/h-upload/2023/01/05/1500x900_452406-motor-vehicles-act-1988-all-india-high-courts-digest-2022.jpg" class="b-img">
				<h3 class="heading1">New Traffic Rules in India</h3>
				<p class="blog-heading">Stay Informed about Recent Traffic Regulations</p>
				<p class="text">Learn about the latest traffic rules and regulations in India to ensure your safety and avoid penalties for violations.</p>
				
			</div>
		</div>
		<div class="col-div-6">
			<div class="lr-box">
				<div class="col-div-6">
					<h3 class="heading1">Traffic Signs</h3>
					<p class="blog-heading-1">Understanding Road Signs and Signals</p>
					<p class="text">Familiarize yourself with common road signs and signals to drive safely and follow traffic rules.</p>
					
				</div>
				<div class="col-div-6">
					<img src="https://www.lumina.com.ph/assets/news-and-blogs-photos/Road-Traffic-Rules-and-Regulations-in-the-Philippines/Road-Traffic-Rules-and-Regulations-in-the-Philippines.webp" class="b-img-1">
				</div>
				<div class="clearfix"></div>
				<hr class="line">
			</div>
		</div>
        <div class="col-div-6">
            <div class="lr-box">
                <div class="col-div-6">
                    <h3 class="heading1">Safe Driving Tips</h3>
                    <p class="blog-heading-1">Essential Tips for Safe Driving</p>
                    <p class="text">Learn crucial tips for safe driving to protect yourself and others on the road.</p>
                </div>
                <div class="col-div-6">
                    <img src="https://media.istockphoto.com/id/467514262/photo/drive-safely-written-on-the-road.jpg?s=612x612&w=0&k=20&c=bNan3YzDOe9jISuu8XqzHLgJljQO_HDXGWrpHDdIKg0=" class="b-img-1">
                </div>
                <div class="clearfix"></div>
                <hr class="line">
            </div>
        </div>
        
        <div class="col-div-6">
            <div class="lr-box">
                <div class="col-div-6">
                    <h3 class="heading1">Traffic Violations</h3>
                    <p class="blog-heading-1">Common Traffic Violations and Penalties</p>
                    <p class="text">Explore the most common traffic violations and the penalties associated with them to avoid legal issues.</p>
                </div>
                <div class="col-div-6">
                    <img src="https://insurance-b2c-assets.s3.ap-south-1.amazonaws.com/uploads/news/image/Find%20the%20latest%20rules%20and%20fines%20for%20traffic%20violations.jpg" class="b-img-1">
                </div>
                <div class="clearfix"></div>
                <hr class="line">
            </div>
        </div>
        
		<div class="clearfix"></div>
	</div>
</section>

<br><br>

<section>
	<div class="container" style="text-align:center;">
		<h3>Latest Traffic Stories</h3>
		<br>
		
		<div class="box-2">
			<img src="https://www.pfjones.co.uk/blog/wp-content/uploads/2017/11/image.jpg" class="b-img-1">
			<h3 class="heading1">Traffic Safety Tips</h3>
			<p class="blog-heading-1">Staying Safe on the Road</p>
			<p class="text">Explore essential safety tips and guidelines for a secure and smooth journey on Indian roads.</p>
			
		</div>

		<div class="box-2">
			<img src="https://imagevars.gulfnews.com/2022/06/25/traffic-violations--traffic-fines_1819901c02d_medium.jpg" class="b-img-1">
			<h3 class="heading1">Traffic Violations</h3>
			<p class="blog-heading-1">Understanding Common Traffic Violations</p>
			<p class="text">Learn about common traffic violations and the penalties associated with them.</p>
			
		</div>

		<div class="box-2">
			<img src="https://www.clickgrp.com/wp-content/uploads/2016/07/common-traffic-violations.jpg" class="b-img-1">
			<h3 class="heading1">Traffic Education</h3>
			<p class="blog-heading-1">Promoting Traffic Education</p>
			<p class="text">Discover the importance of traffic education and its role in making Indian roads safer for everyone.</p>
			
		</div>
		
		<div class="clearfix"></div>
	</div>
</section>

<section class="foot-section">
	<div class="container">
		<div class="foot-inner">
			<h1 class="heading" style="margin: 0px;">Get our weekly email</h1>
			<p class="p1">Stay updated on the latest traffic rules and safety tips in India.</p>
			<div class="input-box ibox2"><input type="text" placeholder="Enter Your Email"><button>Sign up</button></div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<p>Copyright@ Surakshaa</p>
	</div>
</footer>

</body>
</html>
