.App {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: aliceblue;
  }
  
  .card {
    width: 500px;
    height: 400px;
    padding: 20px;
    margin: 10px;
    background-color:beige;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
  }
  
  button {
    padding: 20px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 50px;    
    margin-top: 30px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  img{
    width: 200px;
    height: 200px;
  }
  
  